.thumb {
  height: 150px;
}

h4, h5 {
  margin: 0px;
  display: block;
  position: relative;
  padding: 0px;
}

.course {
  display: inline-block;
  margin: 10px;
  background-color: gray;
  text-align: center;
}
