main {
  
}

.thumb {
  height: 150px;
}

h3 {
  background-color: $blue;
  padding: 10px 50px;
  margin: 0px;
}

.imgholder {
  img {
    width: inherit;
  }
}

h4, h5 {
  margin: 0px;
  display: block;
  position: relative;
  padding: 0px;
}

.course {
  display: inline-block;
  margin: 10px;
  width: 200px;
  background-color: $gray;
  text-align: center;

    .info {
      padding: 10px;
    }
}
