<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course-X</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1>Course-X</h1>
    <h2>The Home of Online Learning</h2>
    <nav>
      <a href="/courses">Home</a>
      <a href="/courses/new">Post Your Course!</a>
    </nav>
  </header>

  <main>
    <h3>All Courses</h3>
    {{#courses}}
      <div class="course">
        <a href="/courses/{{_id}}"><img class='thumb' src="{{image}}" alt="{{name}}"></a>
        <div class='info'>
          <h4>{{name}}</h4>
          <h5>{{author}}</h5>
          <h5>Rating: {{rating}}/5</h5>
        </div>
      </div>
    {{/courses}}
    <h3>More Courses</h3>
    {{#courses}}
      <div class="course">
        <a href="/courses/{{_id}}"><img class='thumb' src="{{image}}" alt="{{name}}"></a>
        <div class='info'>
          <h4>{{name}}</h4>
          <h5>{{author}}</h5>
          <h5>Rating: {{rating}}/5</h5>
        </div>
      </div>
    {{/courses}}
    <h3>Even More Courses</h3>
    {{#courses}}
      <div class="course">
        <div class="imgholder">
          <a href="/courses/{{_id}}"><img class='thumb' src="{{image}}" alt="{{name}}"></a>
        </div>
        <div class='info'>
          <h4>{{name}}</h4>
          <h5>{{author}}</h5>
          <h5>Rating: {{rating}}/5</h5>
        </div>
      </div>
    {{/courses}}
  </main>
</body>
</html>
